<div id="xfcq_settings">
    {SETTINGS}
</div>
<div class="xfcq_block">
    <h3 id="xfcq_question_header" class="ilHeader">{QUESTION_HEADER}</h3>
    <div id="xfcq_question" class="xfcq_page_editor_edit_mode">
        <div id="xfcq_exit_button">{EXIT_BUTTON}</div>
        {QUESTION}
    </div>
</div>
<div class="xfcq_block">
    <h3 id="xfcq_answer_header" class="ilHeader">{ANSWER_HEADER}</h3>
    <div id="xfcq_answer" class="xfcq_page_editor">
        {ANSWER}
        <a href="{LINK_EDIT_ANSWER}">
            <div id="xfcq_answer_overlay" class="xfcq_overlay">
                <p>{LABEL_EDIT}</p>
            </div>
        </a>
    </div>
</div>